.tagbtn {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.tagbtn:hover {
  background-color: rgb(88, 0, 88);
}
